In [12]:
import numpy as pd
import pandas as pd

In [13]:
import requests

api_key = "b47d7e517802e507edc4481bf517e36a"
city = "Noida"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}"

response = requests.get(url)
data = response.json()
print(data)

{'coord': {'lon': 77.33, 'lat': 28.58}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 301.81, 'feels_like': 306.77, 'temp_min': 301.81, 'temp_max': 301.81, 'pressure': 996, 'humidity': 79, 'sea_level': 996, 'grnd_level': 970}, 'visibility': 10000, 'wind': {'speed': 4.46, 'deg': 234, 'gust': 6.5}, 'clouds': {'all': 98}, 'dt': 1753263286, 'sys': {'country': 'IN', 'sunrise': 1753229215, 'sunset': 1753278423}, 'timezone': 19800, 'id': 7279746, 'name': 'Noida', 'cod': 200}

In [14]:
df=pd.json_normalize(data)

In [15]:
df.columns

Index(['weather', 'base', 'visibility', 'dt', 'timezone', 'id', 'name', 'cod',
       'coord.lon', 'coord.lat', 'main.temp', 'main.feels_like',
       'main.temp_min', 'main.temp_max', 'main.pressure', 'main.humidity',
       'main.sea_level', 'main.grnd_level', 'wind.speed', 'wind.deg',
       'wind.gust', 'clouds.all', 'sys.country', 'sys.sunrise', 'sys.sunset'],
      dtype='object')

In [16]:
# api_key = "b47d7e517802e507edc4481bf517e36a"
# cities=['Mumbai','Delhi','Chennai','Bangalore','Kolkata','Pune','Hyderabad','Ahmedabad','Jaipur','Lucknow']

# data_list=[]

# for city in cities:
#   url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
#   response = requests.get(url)
#   if response.status_code==200:
#     data=response.json()
#     data_dict= {
#         "City":city,
#         "Temprature":data['main']['temp'],
#         "Feels_Like":data['main']['feels_like'],
#         "Temp_Min":data['main']['temp_min'],
#         "Temp_Max":data['main']['temp_max']
#         }
#     data_list.append(data_dict)
#   else:
#     print('failed')

# df=pd.DataFrame(data_list)

In [7]:
df.head()

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.humidity,main.sea_level,main.grnd_level,wind.speed,wind.deg,wind.gust,clouds.all,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000,1753258490,19800,7279746,Noida,200,77.33,28.58,...,82,997,971,4.48,224,5.83,95,IN,1753229215,1753278423

In [17]:
api_key = "b47d7e517802e507edc4481bf517e36a"
cities=['Mumbai','Delhi','Chennai','Bangalore','Kolkata','Pune','Hyderabad','Ahmedabad','Jaipur','Lucknow','Noida']


# create a function
def extract_weather_data(city,data):
  return {
      "City":city,
      "Weather_main":data['weather'][0]['main'],
      "Weather_description":data['weather'][0]['description'],
      "Temprature":data['main']['temp'],
      "Feels_Like":data['main']['feels_like'],
      "Temp_Min":data['main']['temp_min'],
      "Temp_Max":data['main']['temp_max'],
      "Pressure":data['main']['pressure'],
      "Humidity":data['main']['humidity'],
      "Visibility":data.get('visibility',None),
      "Wind_Speed":data['wind']['speed'],
      "Timestamp":data['dt'],
      "Country":data['sys']['country'],
      "Sunset":data['sys']['sunset'],
      "Sunrise":data['sys']['sunrise']

  }

weather_data=[]
for i in range(100):
  for city in cities:
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
    response=requests.get(url)
    if response.status_code==200:
      data=response.json()
      row=extract_weather_data(city,data)
      weather_data.append(row)


df=pd.DataFrame(weather_data)

In [18]:
df.head()

,City,Weather_main,Weather_description,Temprature,Feels_Like,Temp_Min,Temp_Max,Pressure,Humidity,Visibility,Wind_Speed,Timestamp,Country,Sunset,Sunrise
0,Mumbai,Clouds,overcast clouds,26.84,29.91,26.84,26.84,1002,86,10000,7.69,1753263026,IN,1753278458,1753231332
1,Delhi,Clouds,overcast clouds,30.81,37.81,30.81,30.81,997,75,10000,5.11,1753262584,IN,1753278461,1753229232
2,Chennai,Clouds,overcast clouds,31.23,38.23,31.23,31.23,1002,76,10000,3.32,1753262638,IN,1753276101,1753230123
3,Bangalore,Clouds,overcast clouds,24.59,24.96,24.59,24.59,1006,71,10000,7.51,1753262700,IN,1753276732,1753230775
4,Kolkata,Clouds,overcast clouds,34.78,41.75,34.78,34.78,993,54,10000,2.59,1753263201,IN,1753275101,1753227239

In [21]:
# Example: classify weather status based on condition
df['status'] = df['weather_main'].apply(lambda x: 'Bad' if x in ['Rain', 'Storm'] else 'Good')

KeyError: 'weather_main'

In [19]:
df.shape

(1100, 15)

In [20]:
df.to_csv('weather_data.csv', index=False)